<% content_for :title, "The team" %>


<div class='container-fluid'>
  <hr/>

  <div class='container-fluid'>
    <h1 class='text-center text-info'>Voici la Team Rocket</h1>
  </div>
  <hr/>

  <div class='container-fluid my-5'>
    <div class ='row px-2 justify-content-around'>
      <div class="card col-md-5">
        <img src="https://thumbs.gfycat.com/ShowyAgonizingJohndory-mobile.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-center text-danger">Jessie</h3>
          <p class="card-text text-center">Nous sommes de retour... <br>Pour vous jouer un mauvais tour.</p>
        </div>
      </div>

      <div class="card col-md-5">
        <img src="https://static0.thegamerimages.com/wordpress/wp-content/uploads/2018/10/james-from-rocket.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-center text-danger">James</h3>
          <p class="card-text text-center">La Team Rocket, plus rapide que la lumière. <br> Rendez-vous tous ou ce sera la guerre.</p>
        </div>
      </div>
    </div>
  </div>


</div>
