<% content_for :title, "la team" %>


<div class='container-fluid'>
  <hr/>

  <div class='container-fluid'>
    <h1 class='text-center text-info'>Voici la Team XoXo</h1>
  </div>
  <hr/>

  <div class='container-fluid my-5'>
    <div class ='row px-2 justify-content-around'>
      <div class="card col-md-5">
        <img src="http://www.frequencemedievale.fr/wp-content/uploads/2019/03/blanche-neige-et-les-sept-nains-disney-planet-tout-sorciere-blanche-neige.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-center text-danger">Jessie</h3>
          <p class="card-text text-center">L'humour est réputé être un procédé risqué, à quitte ou double. Du coup, beaucoup d'orateurs y renoncent dans leurs présentations d'entreprises. Pourtant, il est assez facile d'intégrer de l'humour dans une présentation, sans prendre de risques inconsidérés..</p>
        </div>
      </div>

      <div class="card col-md-5">
        <img src="http://blog.univ-angers.fr/princessesdisney/files/2015/04/dac25996c61cd988_ursula.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-center text-danger">Pam</h3>
          <p class="card-text text-center">Maintenir l'attention d'un auditoire, est l'enjeu clé d'une présentation, c'est une certitude. Et pour cela, l'humour est une technique de choix. C'est une évidence.
            Pour autant, comment le manier ? Quelle est la dose idéale d'humour ? Comment faire pour qu'il ne cannibalise pas le message de la présentation : il est également évident que l'objectif de la prise de parole n'est pas de faire rire. C'est un moyen, pas un objectif en soi. La réponse à ces questions est simple : il n'y a pas de réponse unique, fixe et idéale. Une présentation telle que celle-ci, délivrée par Sir Ken Robinson lors d'un TED Talk fait rire l'auditoire... à peu près toutes les minutes. Le sujet, pourtant, était des plus sérieux : l'orateur répond à la question "est-ce que l'école tue la créativité ?". Et le succès est au rendez-vous : la vidéo de cette intervention a été visionnée plus de 6 millions de fois sur YouTube. Aucun expert ne conseillera pourtant jamais à qui que ce soit de tenter de faire rire à chaque minute l'auditoire de manière systématique. Même un humoriste ne ferait pas cela dans ses spectacles !
            La seule règle commune et à ne jamais enfreindre est de na pas confondre blagues et humour. L'humour oui, les blagues non, dans une présentation.</p>
        </div>
      </div>
    </div>
  </div>


</div>
